
/* start global ruls */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root{
    --main-color: #10cab7;
    --secendary-color : #2c4755;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    padding-left: 60px;
    padding-right: 60px;
    margin-left: auto;
    margin-right: auto;
}
/* start component */
.spechial-heading{
    color: #e9e9e9;
    font-weight: 800;
    font-size: 100px;
    text-align: center;
    letter-spacing: -3px;
    margin: 0;
}
.spechial-heading + p{
    margin: -20px 0 0;
    font-size: 20px;
    text-align: center;
    color: #575757;
    letter-spacing: 5px;
}
.up{
    line-height: 50%;
    text-align: center;
    text-decoration: none;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 10px;
    right: 50px;
    background-color: var(--main-color);
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}
.up:hover{
    box-shadow: 0px 0px 10px var(--main-color);
}
.up .fa-arrow-up:before {
    content: "\f062";
    line-height: 50px;
    color: var(--secendary-color);
}
/* end component */
/* end global ruls */

/* start header */
header{
    padding: 20px;
    background-color: #ffffff;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    width: 100px;
    height: 50px;
}
header .links{
    position: relative;
}
header .links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    cursor: pointer;
}
header .links .icon span{
    background-color: rgb(48, 48, 48);
    margin-bottom: 5px;
}
header .links .icon span:first-child{
    height: 2px;
    width: 100%;
}
header .links .icon span:nth-child(2){
    height: 2px;
    width: 60%;
    transition: .4s;
}
header .links .icon:hover span:nth-child(2){
    width: 100%;
}
header .links .icon span:last-child{
    height: 2px;
    width: 100%;
}
header .links ul{
    background-color: rgb(238, 238, 238);
    border-radius: 3px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
}
header .links:hover ul{
    display: block;
}
header ul::before{
    content: "";
    position: absolute;
    right: 5px;
    top: -20px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent rgb(238, 238, 238) transparent;
}
header ul li a {
    
    display: block;
    padding: 15px;
    transition: .5s;
    color: rgb(37, 37, 37);
    text-decoration: none;
}
header ul li:not(:last-child) a{
    border-bottom: 1px solid rgb(230, 230, 230);
}
header ul li a:hover{
    padding-left: 25px;
}
/* end header */

/* start landing */
.landing{
    background-image: url(../img/g-lamp2.jpg);
    background-size: cover;
    height: calc(100vh - 90px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing .intro-heding{
    text-align: center;
    width: 395px;
    max-width: 100%;
}
.landing .intro-heding h1{
    color: var(--main-color);
    font-size: 65px;
}
.landing .intro-heding p{
    color: azure;
    font-size: 20px;
    font-family: fantasy;
}
/* end landing */

/* start feathers */
.featers{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f8f8f8;
}
.featers .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));
    grid-gap: 20px;
}
.featers .container .feat{
    padding: 20px;
    text-align: center;
}
.featers .container .feat i{
    color: var(--main-color);
}
.featers .container .feat h3{
    font-weight: 800;
    color: #2c4755;
    margin: 40px 0;
}
.featers .container .feat p{
    font-size: 14px;
    line-height: 35px;
    color: #616161;
}
/* end feathers */

/* start serveces */
.serveces{
    padding: 60px 0;
}
.serveces .container{
    padding-left: 135px;
}
.serveces .serveces-contant{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));
    grid-gap: 20px;
    margin: 80px auto;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.serveces .serveces-contant .col .srv{
    display: flex;
    margin-bottom: 30px;
}
.serveces .serveces-contant .col .srv i{
    color: var(--main-color);
    flex-basis: 60px;
}
.serveces .serveces-contant .col .srv .text{
    flex: 1;
}
.serveces .serveces-contant .col .srv .text h3{
    font-weight: 800;
    color: #1f2021;
    margin: 0 0 20px;
}
.serveces .serveces-contant .col .srv .text p{
    color: #4d4c4c;
    font-weight: 300;
    line-height: 1.6;
}
.serveces .serveces-contant .col .img{
    text-align: center;
    position: relative;
}
.serveces .serveces-contant .col .img img{
    width: 240px;
    border: 3px solid var(--secendary-color);
}
.serveces .serveces-contant .col .img::before{
    content: '';
    position: absolute;
    right: 0;
    background-color: var(--secendary-color);
    width: 80px;
    height: calc(100% + 100px);
    top: -50px;
    z-index: -1;
}
/* end serveces */

/* start portofoio */
.portfolio{
    background-color: #fafafa;
    padding: 60px 0;
    text-align: center;
}
.portfolio .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));
    grid-gap: 20px;
    padding-top: 60px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.portfolio .container .box{
    width: 300px;
    background-color: rgb(255, 255, 255);
    
}
.portfolio .container .box:hover img{
    width: 400px;
}
.portfolio .container .box img{
    width: 300px;
    transition: all .5s;
}
.portfolio .container .box h3{
    color: #1f2021;
    font-size: 17px;
}
.portfolio .container .box p{
    color: #4d4c4c;
    font-size: 13px;
}
/* end portofoio */

/* start about */
.about{
    padding: 60px 0;
}
.main-about{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-gap: 20px;
    padding-top: 60px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.main-about .img{
    position: relative;
}
.main-about .img img{
    width: 240px;
    border: 3px solid var(--secendary-color);
}
.main-about .img::before{
    content: '';
    position: absolute;
    left: 0;
    background-color: var(--secendary-color);
    width: 80px;
    height: calc(100% + 100px);
    top: -50px;
    z-index: -1;
}
.main-about .img::after{
    content: '';
    position: absolute;
    left: 200px;
    border-left: 70px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    width: 40px;
    height: calc(70%);
    top: -70px;
    z-index: -1;
}
.main-about .text{
    padding-top: 35px;
    position: relative;
    padding-left: 130px;
    padding-right: 130px;
}
.main-about .text hr{
    position: absolute;
    top: 60%;
    width: 200px;
    left: 130px;
    border-color: var(--main-color);
}
.main-about .text .one-p{
    color: var(--secendary-color);
    font-weight: 800;
    padding-bottom: 20px;
}
.main-about .text .two-p{
    color: #575757;
}

/* end about */

/* start contact */
.contact{
    padding: 60px 0;
    background-color: #fafafa;
}
.contact .container{
    padding-top: 50px;
    text-align: center;
}
.contact .info h1{
    color: var(--secendary-color);
    font-weight: 800;
}
.contact .info .email{
    text-decoration: none;
    color: var(--main-color);
    font-weight: 800;
}
.contact .info p{
    color: #68777f;
}
.contact .info .socul-media{
    text-decoration: none;
    color: #334752;
    padding: 10px;
}
/* start contact */

/* start footer */
footer{
    text-align: center;
    padding: 10px;
    background-color: var(--secendary-color);
}
footer p{
    color: white;
    font-weight: 800;
}
footer p span{
    color: var(--main-color);
}
/* end footer */



/* start media */
@media (max-width: 767px){
    header .container{
        padding-left: 0px;
        padding-right: 30px;
    }
    .serveces .serveces-contant {
        grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
    }
    .featers .container{
        padding-left: 0;
        padding-right: 0;
    }
    .spechial-heading{
        font-size: 60px;
    }
    .landing .intro-heding h1{
        font-size: 50px;
    }
    .landing .intro-heding p{
        font-size: 18px;
    }
    .serveces .container{
        padding-left: 60px;
    }
    .serveces .serveces-contant .col .srv{
        flex-direction: column;
        text-align: center;
    }
    .main-about {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    .main-about .img::after {
    left: 171px;
    border-bottom:0;
    height: calc(100% + 100px);
    top: -50px;
    }
    .main-about .text{
        padding-left: 0px;
        padding-right: 0px;
    }
    .main-about .text hr{
        left: 0;
    }
}
@media (max-width: 1199px){
    .image-coloum{
        display: none;
    }
}
@media (max-width: 1200px){
}
/* end media */